<nav class="navbar navbar-dark bg-success shadow-sm">
  <div class="container d-flex align-items-center">
    <div class="d-flex flex-column align-items-start">
      <a class="btn btn-outline-light text-start fw-bold mb-2 px-3 py-2 rounded-3 border-2 btn-sm shadow-sm" 
         routerLink="/" 
         routerLinkActive="active">
        ➤ Set A
      </a>

      <a class="btn btn-outline-light text-start fw-bold px-3 py-2 rounded-3 border-2 btn-sm shadow-sm" 
         routerLink="/registration" 
         routerLinkActive="active">
        ➤ Set B
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
